<input nz-input [(ngModel)]="searchQuery" placeholder="Search our phones" />
<button nz-button nzType="primary" nzSize="large" (click)="sortPhones('id')">ID</button>
<button nz-button nzType="primary" nzSize="large" (click)="sortPhones('brand')">Brand</button>
<button nz-button nzType="primary" nzSize="large" (click)="sortPhones('model')">Model</button>
<button nz-button nzType="primary" nzSize="large" (click)="sortPhones('storage')">Storage (GB)</button>
<button nz-button nzType="primary" nzSize="large" (click)="sortPhones('price')">Price ($)</button>
<div class="table-container">
<ng-container *ngIf="phones$ | async as phones">
  <nz-table #table [nzData]="phones" nzBordered 
  nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="pageSize"
  [nzTotal]="phones.length" (nzPageIndexChange)="onPageChange($event)">
     <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Storage (GB)</th>
          <th>Price ($)</th>
          <th>Edit</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phone of getFilteredPhones()">
          <td>
                <span nz-icon nzType="phone" nzTheme="outline"></span>
                {{ phone.id }}
          </td>
          <td>{{ phone.brand }}</td>
          <td>{{ phone.model | nameUppercase  }}</td>
          <td>{{ phone.storage }}</td>
          <td>{{ phone.price }}</td>
          <td>
            <button nz-button nzType="primary" nzShape="circle" nzIcon="edit" (click)="editPhone(phone)">Edit</button>
          </td>
          <td>
            <button nz-button nzType="primary" nzShape="circle" nzIcon="info-circle" (click)="openDetailsModal(phone)">Details</button>
          </td>
          <td>
            <button nz-button nzType="primary" nzShape="circle" nzIcon="delete" (click)="deletePhone(phone.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  
  <div class="add-button-container">
    <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="addPhone()">Add</button>
  </div>
  