<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" id="email" required />
    <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" formControlName="password" id="password" required />
    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
    </div>
  </div>
  <div>
    <label for="rememberMe">Remember me:</label>
    <input type="checkbox" formControlName="rememberMe" id="rememberMe" />
  </div>
  <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Login</button>
  <p> You don't have an account? Register now!</p>
  <button mat-raised-button color="accent" type="button" (click)="redirectToRegister()">Register</button>
</form>
