<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" id="email" required>
    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" formControlName="password" id="password" required>
    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
      <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
    </div>
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" formControlName="confirmPassword" id="confirmPassword" required>
    <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
      <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirmation password is required.</div>
      <div *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match.</div>
    </div>
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" formControlName="firstName" id="firstName" required>
    <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
      <div *ngIf="registerForm.get('firstName')?.errors?.['required']">First name is required.</div>
    </div>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" formControlName="lastName" id="lastName" required>
    <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
      <div *ngIf="registerForm.get('lastName')?.errors?.['required']">Last name is required.</div>
    </div>
  </div>
  <button mat-raised-button color="accent" type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
